<header class="header header-over @@if (hide === 'true') {header-hide}">
  <div class="container">
    <div class="header__row">
      <div class="header__burger">
        <div class="header__burger-line"></div>
      </div>
      <a href="index.html" class="header__logo">
        <img src="img/icons/icons.svg#header-logo" alt="logo" class='header__logo-icon'>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item @@if (name === 'home') {header__nav-item_active}"><a href='index.html'
              class='header__nav-link'>О
              SKILLMI</a></li>
          <li class="header__nav-item @@if (name === 'courses') {header__nav-item_active}"><a href='courses.html'
              class='header__nav-link'>КУРСЫ</a></li>
          <li class="header__nav-item @@if (name === 'ability') {header__nav-item_active}"><a href='#ability'
              class='header__nav-link header__link'>РАСКРОЙТЕ СПОСОБНОСТИ</a></li>
          <li class="header__nav-item @@if (name === 'news') {header__nav-item_active}"><a href='news.html'
              class='header__nav-link'>НОВОСТИ</a></li>
        </ul>
      </nav>
      <div class="header__search">
        <input type="text" class='header__search-field' placeholder='Поиск'>
        <button class='header__search-btn'>
          <img src="img/icons/icons.svg#search" alt="search" class='header__search-icon'>
        </button>
      </div>
    </div>
  </div>
</header>