body {
	overflow-x: hidden;
	position: relative;
	scroll-behavior: smooth;
	font-family: SuisseIntl, sans-serif;
	font-weight: 400;
	scroll-behavior: smooth;
	color: $main;
	background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 36px;
}

a,
button {
	color: $main;
}

.container {
	max-width: 1199px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	&-big {
		max-width: 1816px;
		margin: 0 auto;
	}
	&-middle {
		max-width: 1649px;
		margin: 0 auto;
	}
	@media ($media_lg) {
		max-width: 900px;
		&-big {
			max-width: 870px;
		}
		&-middle {
			max-width: 870px;
		}
	}
	@media ($media_lg3) {
		max-width: 700px;
		&-big {
			max-width: 670px;
		}
		&-middle {
			max-width: 670px;
		}
	}
}
