// colors
$white: #ffffff;
$lwhite: #f5f5f5;
$main: #2b3130;
$gray: #939d9c;
$green: #acd03c;
$lime: #bbda41;
$orange: #f19f53;
$turquoise: #48da9e;
$footer: #2a3030;
$lgray: #7a8987;
$title: 900;
$subtitle: 500;
$bold: 700;
$normal: 400;

// media
$media_xxxl: "max-width: 1400px";
$media_xxl: "max-width: 1300px";
$media_xl: "max-width: 1200px";
$media_lg: "max-width: 1100px";
$media_lg2: "max-width: 1000px";
$media_lg3: "max-width: 900px";
$media_md: "max-width: 800px";
$media_md2: "max-width: 700px";
$media_sm: "max-width: 600px";
$media_sm2: "max-width: 500px";
$media_xs: "max-width: 400px";
