.benefits {
	margin-bottom: 30px;
	&__list {
		counter-reset: num;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 7px;
	}
	&__item {
		counter-increment: num;
		padding: 47px 22px 42px;
		display: flex;
		flex-direction: column;
		position: relative;
		align-items: center;
		box-shadow: 0px 4px 12px #e6f0ee;
		border-radius: 20px;
		background-color: $white;
		&::after {
			position: absolute;
			content: "";
			width: 7px;
			height: 7px;
			background: radial-gradient(
				133.9% 1838.09% at 0% 0%,
				#41daa3 0%,
				#bbda41 100%
			);
			border-radius: 50%;
			right: 22px;
			top: 40px;
		}
		&::before {
			content: counter(num) "";
			font-weight: $title;
			font-size: 16px;
			line-height: 20px;
			position: absolute;
			right: 22px;
			top: 15px;
		}
		&:nth-child(-n + 9):before {
			content: "0" counter(num) "";
		}
	}
	&__img-box {
		width: 96px;
		height: 96px;
		box-shadow: 0px 4px 12px #e9f3f2;
		background-color: $white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 26px;
	}
	&__icon {
		object-fit: cover;
		width: 64px;
		height: 50px;
	}
	&__title {
		font-weight: $title;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}
