.footer{
  &.footer-nav{
    margin-left: 275px;
  }
  &__content{
    padding: 30px 46px 33px 0;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item-title{
    color: $gold;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__item-list{
    display: flex;
    flex-direction: column;
  }
  &__item-item:not(:last-child){
    margin-bottom: 11px;
  }
  &__item-link{
    font-size: 14px;
    line-height: 17px;
    color: $white4;
  }
  &__bottom{
    padding: 16px 0;
    background-color: $gold;
    color: $white4;
  }
}

@media screen and (max-width: 1200px){
  .footer{
    &.footer-nav{
      margin-left: 0;
    }
    &__content{
      display: none;
    }
    &__bottom{
      padding: 16px;
    }
  }
}