.news-screen {
	color: $white;
	padding: 0 15px;
	padding-top: 106px;
	&__container {
		background: center/cover url("../img/news-screen/background.png");
		border-radius: 35px;
		padding: 0 17px;
		overflow: hidden;
	}

	&__inner {
		padding: 44px 0 116px;
	}

	&__tag {
		display: inline-block;
		font-weight: $title;
		font-size: 14px;
		line-height: 14px;
		padding: 12px;
		text-transform: uppercase;
		background: rgba($color: $white, $alpha: 0.1);
		border-radius: 6px;
		margin-bottom: 97px;
	}

	&__item {
		max-width: 470px;
	}

	&__suptitle {
		font-weight: 900;
		font-size: 17px;
		line-height: 40px;
		letter-spacing: 0.22em;
		text-transform: uppercase;
		color: $white;
		opacity: 0.8;
		margin-bottom: 18px;
	}

	&__title {
		font-weight: 900;
		font-size: 55px;
		line-height: 60px;
		text-transform: uppercase;
		margin-bottom: 45px;
	}

	&__date-item {
		display: flex;
		align-items: center;
	}

	&__date-icon {
		width: 20px;
		height: 20px;
		object-fit: cover;
		margin-right: 19px;
	}

	&__text {
		font-weight: $subtitle;
		font-size: 17px;
		line-height: 40px;
	}
	@media ($media_lg) {
		padding-top: 62px;
		&__tag {
			padding: 12px;
		}
		&__suptitle {
			font-size: 14px;
		}
		&__title {
			font-size: 34px;
			line-height: 33px;
			margin-bottom: 20px;
		}
		&__date-item {
			font-size: 14px;
		}
	}
	@media ($media_lg3) {
		&__inner {
			padding: 50px 0;
		}
		&__tag {
			margin-bottom: 40px;
		}
	}
	@media ($media_md2) {
		&__container {
			background: center/cover url("../img/news-screen/background-mob.png");
		}
	}
	@media ($media_sm2) {
		padding: 0 15px;
		padding-top: 62px;
		&__container {
			padding: 0;
			border-radius: 10px;
		}
		&__tag {
			padding: 8px;
			font-size: 9px;
			line-height: 12px;
			margin-bottom: 30px;
		}
		&__inner {
			padding: 19px 0 44px;
		}
		&__suptitle {
			font-size: 10px;
		}
		&__title {
			font-size: 28px;
			line-height: 33px;
			margin-bottom: 20px;
		}
		&__date-item {
			font-size: 12px;
		}
	}
}
