.news-item {
	border: 1px solid rgba($color: $white, $alpha: 0.3);
	background: rgba(255, 255, 255, 0.03);
	backdrop-filter: blur(50px);
	border-radius: 30px;
	overflow: hidden;
	padding: 21px 25px 37px 17px;
	display: flex;
	align-items: flex-start;
	&__aside {
		margin-bottom: 17px;
		&:last-child {
			margin-bottom: 0;
		}
		background: $gwhite;
		.news-item__name {
			color: rgba($color: $main, $alpha: 0.7);
		}
		.news-item__description {
			color: rgba($color: $lgray, $alpha: 0.8);
		}
		.news-item__more {
			color: $main;
		}
		.news-item__date {
			background: $white;
		}
	}
	&__date {
		text-align: center;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 15px;
		padding: 15px 21px;
		margin-right: 27px;
		border: 1px solid rgba($color: $white, $alpha: 0.3);
	}

	&__day {
		font-weight: $title;
		font-size: 30px;
		letter-spacing: 0.1em;
	}

	&__subday {
		font-size: 16px;
	}

	&__name {
		display: block;
		color: rgba($color: $white, $alpha: 0.7);
		font-weight: $title;
		font-size: 12px;
		line-height: 33px;
		letter-spacing: 0.22em;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__slogan {
		font-weight: $title;
		font-size: 25px;
		line-height: 33px;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	&__description {
		font-size: 16px;
		line-height: 26px;
		color: rgba($color: $white, $alpha: 0.8);
		margin-bottom: 8px;
	}

	&__more {
		display: flex;
		align-items: center;
		color: $white;
		text-decoration: none;
		&:hover {
			.news-item__more-text {
				margin-right: 20px;
			}
		}
	}

	&__more-text {
		font-weight: $title;
		font-size: 13px;
		line-height: 33px;
		text-transform: uppercase;
		margin-right: 12px;
		transition: $transition_normal;
	}

	&__arrow {
		width: 17px;
		height: 15px;
		object-fit: cover;
	}

	@media ($media_lg3) {
		padding: 19px 40px 19px 14px;
		&__date {
			margin-right: 20px;
			padding: 15px 18px;
		}
		&__day {
			font-size: 20px;
		}
		&__subday {
			font-size: 12px;
		}
		&__name {
			font-size: 10px;
			line-height: 12px;
			margin-bottom: 9px;
		}
		&__slogan {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 9px;
		}
		&__description {
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 0px;
		}
		&__more-text {
			font-size: 10px;
		}
		&__arrow {
			width: 10px;
			height: 12px;
		}
	}
}
