.sides {
	padding: 119px 0 115px;
	&__row {
		display: flex;
	}

	&__col {
		margin-right: 65px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__item {
		position: relative;
		padding: 159px 0 0 120px;
		margin-bottom: 77px;
		&-more {
			padding-left: 35px;
			.sides__photo {
				left: -95px;
			}
			.sides__lightning {
				right: -21px;
				top: -47px;
				width: 136px;
				height: 272px;
			}
		}
	}

	&__photo {
		top: 0px;
		border-radius: 25px;
		overflow: hidden;
		left: 0px;
		position: absolute;
		max-width: 439px;
		z-index: 1;
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}

	&__lightning {
		position: absolute;
		top: 13px;
		right: 127px;
		width: 114px;
		height: 227px;
		object-fit: cover;
	}

	&__content {
		position: relative;
		z-index: 10;
		max-width: 475px;
		padding: 21px 47px 35px 51px;
		background: $gwhite;
		border-radius: 25px;
	}

	&__content-title {
		font-weight: $title;
		font-size: 25px;
		line-height: 77px;
		text-transform: uppercase;
	}

	&__description {
		font-size: 16px;
		line-height: 26px;
		color: $lgray;
	}

	&__prefer {
		display: flex;
		max-width: 445px;
		background: $white;
		box-shadow: 0px 6px 15px rgba(210, 224, 224, 0.77);
		border-radius: 20px;
		padding: 42px 33px 39px 28px;
	}

	&__prefer-left {
		margin-right: 22px;
	}

	&__prefer-num {
		font-weight: $subtitle;
		font-size: 50px;
		line-height: 50px;
		background: radial-gradient(
			133.9% 1838.09% at 0% 0%,
			#41daa3 0%,
			#bbda41 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	&__prefer-subnum {
		display: flex;
		align-items: center;
	}

	&__prefer-people {
		font-weight: $subtitle;
		font-size: 20px;
		line-height: 26px;
		background: radial-gradient(
				133.9% 1838.09% at 0% 0%,
				#41daa3 0%,
				#bbda41 100%
			)
			/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin-right: 16px;
	}

	&__prefer-arrow {
		width: 11px;
		height: 11px;
		object-fit: cover;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__prefer-title {
		font-weight: $small-title;
		font-size: 30px;
		line-height: 35px;
	}

	&__title {
		font-weight: $title;
		font-size: 60px;
		line-height: 77px;
		text-transform: uppercase;
		margin-bottom: 50px;
		&-left {
			padding-left: 60px;
		}
		&-strong {
			background: radial-gradient(
					133.9% 1838.09% at 0% 0%,
					#41daa3 0%,
					#bbda41 100%
				)
				/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
}
